name: Sync MAIN to Mirror Repos

on:
  push:
    branches:
      - main

jobs:
  mirror-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

 
