      - name: Push to kris-lab
        run: |
          git config --global user.name "kris-sync-bot"
          git config --global user.email "sync@kris.ai"
          git remote add krislab https://x-access-token:${{ secrets.KRIS_AI}}@github.com/kunalraj013102011-crypto/kris-lab.git
          git push krislab main --force

      - name: Push to project-handover-hub
        run: |
          git remote add handover https://x-access-token:${{ secrets.MIRROR_PUSH_TOKEN }}@github.com/kunalraj013102011-crypto/project-handover-hub.git
          git push handover main --force
